.scroll-to-top {
    position: fixed;
    bottom: 35px;
    right: 20px;
    z-index: 1000;
  }
  
  .scroll-to-top-button {
    background-color: rgb(240 46 101);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .scroll-to-top-button:hover {
    opacity: 1;
    background-color: #FF5A7B;
    transform: scale(1.1); 
  }
  