@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 28, 34, 58;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  #b6005596
} */

/* .shape1 {
  position: absolute;
  width: 700px;
  height: 400px;
  right: 0%;
  top: 25%;
  background: linear-gradient(100deg, rgba(182, 0, 85, 0.588) 10.98%, rgba(110, 93, 248, 0) 100%);
  filter: blur(100px);
} */

@layer utilities {
  .custom-shadow {
    filter: drop-shadow(0 5px 150px rgba(182, 0, 85, 0.75));
  }
}

@layer components {
  .card {
    @apply p-4 mx-2 md:m-0 md:p-8 rounded-xl;
    @apply bg-gray-200/50 dark:bg-gray-700/50;
    width: 100%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  }
}

/* floating animated image */
@keyframes floating {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 8px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.floating-image {
  animation-name: floating;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
