@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
    --background-start-rgb: 28, 34, 58;
    --background-end-rgb: 28, 34, 58;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.bg-pg-pink {
  background: #f1396d;
}

.bg-pg-pink-light {
  background: #f592ae;
}

.bg-pg-blue {
  background: #1c223a;
}

.bg-pg-blue-light {
  /* background: #2a2c34; */
  background: #424551;
}

/*
colors: {
      "pg-pink": "#F1396D",
      "pg-pink-disabled": "#f1396db1",
      "pg-dark-blue": "#1c223a",
      "pg-blue": "#2a2c34",
      gray: colors.gray,
    },
*/
