@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 28, 34, 58;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} */

.shape1 {
  position: absolute;
  width: 700px;
  height: 400px;
  right: 0%;
  top: 25%;
  background: linear-gradient(100deg, #b6005596 10.98%, rgba(110, 93, 248, 0) 100%);
  filter: blur(100px);
}
