@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pg-pink {
  background: #f1396d;
}

.bg-pg-pink-light {
  background: #f592ae;
}

.bg-pg-blue {
  background: #1c223a;
}

.bg-pg-blue-light {
  background: #2a2c34;
}
